<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.uim.mapper.AccountInstanceMapper">
    <resultMap id="BaseResultMap" type="org.dows.uim.entity.AccountInstanceEntity">
        <id column="account_instance_id" jdbcType="BIGINT" property="accountInstanceId"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="zone_no" jdbcType="VARCHAR" property="zoneNo"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="referrals_no" jdbcType="VARCHAR" property="referralsNo"/>
        <result column="source" jdbcType="VARCHAR" property="source"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="operator_id" jdbcType="BIGINT" property="operatorId"/>
        <result column="ver" jdbcType="INTEGER" property="ver"/>
        <result column="super_account" jdbcType="TINYINT" property="superAccount"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
    </resultMap>
    <sql id="Base_Column_List">
        `account_instance_id`, `password`, `zone_no`, `cellphone`, `avatar`, `referrals_no`, `source`, `app_id`,
        `operator_id`, `ver`, `super_account`, `deleted`, `ts`
    </sql>

</mapper>