<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.uim.mapper.AccountUserMapper">
    <resultMap id="BaseResultMap" type="org.dows.uim.entity.AccountUserEntity">
        <id column="account_user_id" jdbcType="BIGINT" property="accountUserId"/>
        <result column="account_instance_id" jdbcType="BIGINT" property="accountInstanceId"/>
        <result column="user_instance_id" jdbcType="BIGINT" property="userInstanceId"/>
        <result column="operator_id" jdbcType="BIGINT" property="operatorId"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="ver" jdbcType="INTEGER" property="ver"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
    </resultMap>
    <sql id="Base_Column_List">
        `account_user_id`
        , `account_instance_id`, `user_instance_id`, `operator_id`, `app_id`, `ver`, `deleted`, `ts`
    </sql>

</mapper>