<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.uim.mapper.AccountIdentifierMapper">
    <resultMap id="BaseResultMap" type="org.dows.uim.entity.AccountIdentifierEntity">
        <id column="account_identifier_id" jdbcType="BIGINT" property="accountIdentifierId"/>
        <result column="identifier" jdbcType="VARCHAR" property="identifier"/>
        <result column="operator_id" jdbcType="BIGINT" property="operatorId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="ver" jdbcType="INTEGER" property="ver"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
    </resultMap>

    <resultMap id="BaseResultMap1" type="org.dows.uim.api.response.ResolveResumeResponse">
        <result column="identifier" jdbcType="VARCHAR" property="identifier"/>
        <result column="operator_id" jdbcType="BIGINT" property="operatorId"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="ver" jdbcType="INTEGER" property="ver"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
    </resultMap>

    <sql id="Base_Column_List">
        `account_identifier_id`, `identifier`, `operator_id`, `type`, `ver`, `app_id`, `deleted`, `ts`
    </sql>


    <select id="dd" resultMap="BaseResultMap1">



    </select>

</mapper>