<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.uim.mapper.OrgIndicatorMapper">
    <resultMap id="BaseResultMap" type="org.dows.uim.entity.OrgIndicatorEntity">
        <id column="org_indicator_id" jdbcType="BIGINT" property="orgIndicatorId"/>
        <result column="org_action_id" jdbcType="BIGINT" property="orgActionId"/>
        <result column="indicator_name" jdbcType="VARCHAR" property="indicatorName"/>
        <result column="indicator_keyword" jdbcType="VARCHAR" property="indicatorKeyword"/>
        <result column="indicator_score" jdbcType="INTEGER" property="indicatorScore"/>
        <result column="match_score" jdbcType="INTEGER" property="matchScore"/>
        <result column="enabled" jdbcType="TINYINT" property="enabled"/>
        <result column="operator_id" jdbcType="BIGINT" property="operatorId"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
    </resultMap>
    <sql id="Base_Column_List">
        `org_indicator_id`
        , `org_action_id`, `indicator_name`, `indicator_keyword`, `indicator_score`, `match_score`,
        `enabled`, `operator_id`, `app_id`, `ts`
    </sql>

</mapper>