<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.uim.mapper.OrgJdMapper">
    <resultMap id="BaseResultMap" type="org.dows.uim.entity.OrgJdEntity">
        <id column="org_jd_id" jdbcType="BIGINT" property="orgJdId"/>
        <result column="org_root_id" jdbcType="BIGINT" property="orgRootId"/>
        <result column="org_tree_id" jdbcType="BIGINT" property="orgTreeId"/>
        <result column="org_rule_id" jdbcType="BIGINT" property="orgRuleId"/>
        <result column="hr_account_instance_id" jdbcType="BIGINT" property="hrAccountInstanceId"/>
        <result column="operator_id" jdbcType="BIGINT" property="operatorId"/>

        <result column="jd_name" jdbcType="VARCHAR" property="jdName"/>
        <result column="description" jdbcType="CLOB" property="description"/>
        <result column="state" jdbcType="TINYINT" property="state"/>
        <result column="channels" jdbcType="VARCHAR" property="channels"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
    </resultMap>
    <sql id="Base_Column_List">
        `org_jd_id`, `org_root_id`, `org_tree_id`, `org_rule_id`, `operator_id`, `jd_name`, `description`, `state`,
        `channels`, `app_id`, `ts`
    </sql>

</mapper>