<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.uim.mapper.OrgNodeMapper">
    <resultMap id="BaseResultMap" type="org.dows.uim.entity.OrgNodeEntity">
        <id column="org_node_id" jdbcType="BIGINT" property="orgNodeId"/>
        <result column="org_tree_id" jdbcType="BIGINT" property="orgTreeId"/>
        <result column="account_instance_id" jdbcType="BIGINT" property="accountInstanceId"/>
        <result column="user_instance_id" jdbcType="BIGINT" property="userInstanceId"/>
        <result column="alias_name" jdbcType="VARCHAR" property="aliasName"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="ver" jdbcType="INTEGER" property="ver"/>
        <result column="operator_id" jdbcType="BIGINT" property="operatorId"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
    </resultMap>
    <sql id="Base_Column_List">
        `org_node_id`, `org_tree_id`, `account_instance_id`, `user_instance_id`, `alias_name`, `app_id`, `ver`,
        `operator_id`, `deleted`, `ts`
    </sql>

</mapper>