<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.uim.mapper.OrgRoleMapper">
    <resultMap id="BaseResultMap" type="org.dows.uim.entity.OrgRoleEntity">
        <id column="org_role_id" jdbcType="BIGINT" property="orgRoleId"/>
        <result column="org_tree_id" jdbcType="BIGINT" property="orgTreeId"/>
        <result column="rbac_role_id" jdbcType="BIGINT" property="rbacRoleId"/>
        <result column="operator_id" jdbcType="BIGINT" property="operatorId"/>
        <result column="ver" jdbcType="INTEGER" property="ver"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="ts" jdbcType="DATE" property="ts"/>
    </resultMap>
    <sql id="Base_Column_List">
        `org_role_id`, `org_tree_id`, `rbac_role_id`, `operator_id`, `ver`, `app_id`, `deleted`, `ts`
    </sql>

</mapper>