<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.uim.mapper.OrgTreeMapper">
    <resultMap id="BaseResultMap" type="org.dows.uim.entity.OrgTreeEntity">
        <id column="org_tree_id" jdbcType="BIGINT" property="orgTreeId"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="operator_id" jdbcType="BIGINT" property="operatorId"/>
        <result column="org_name" jdbcType="VARCHAR" property="orgName"/>
        <result column="org_code" jdbcType="VARCHAR" property="orgCode"/>
        <result column="org_avatar" jdbcType="VARCHAR" property="orgAvatar"/>
        <result column="id_path" jdbcType="VARCHAR" property="idPath"/>
        <result column="name_path" jdbcType="VARCHAR" property="namePath"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="ver" jdbcType="INTEGER" property="ver"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
    </resultMap>
    <sql id="Base_Column_List">
        `org_tree_id`, `pid`, `operator_id`, `org_name`, `org_code`, `org_avatar`, `id_path`, `name_path`, `app_id`,
        `level`, `ver`, `deleted`, `ts`
    </sql>

</mapper>