<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.uim.mapper.UserCerticationMapper">
    <resultMap id="BaseResultMap" type="org.dows.uim.entity.UserCerticationEntity">
        <id column="user_certication_id" jdbcType="BIGINT" property="userCerticationId"/>
        <result column="operator_id" jdbcType="BIGINT" property="operatorId"/>
        <result column="user_instance_id" jdbcType="BIGINT" property="userInstanceId"/>
        <result column="cert_name" jdbcType="VARCHAR" property="certName"/>
        <result column="cert_no" jdbcType="VARCHAR" property="certNo"/>
        <result column="app_id" jdbcType="VARCHAR" property="appId"/>
        <result column="perminent" jdbcType="TINYINT" property="perminent"/>
        <result column="award_date" jdbcType="TIMESTAMP" property="awardDate"/>
        <result column="expiry_date" jdbcType="TIMESTAMP" property="expiryDate"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
    </resultMap>
    <sql id="Base_Column_List">
        `user_certication_id`, `operator_id`, `user_instance_id`, `cert_name`, `cert_no`, `app_id`, `perminent`,
        `award_date`, `expiry_date`, `deleted`, `ts`
    </sql>

</mapper>