<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dows.uim.mapper.UserFamilyMapper">
    <resultMap id="BaseResultMap" type="org.dows.uim.entity.UserFamilyEntity">
        <id column="user_family_id" jdbcType="BIGINT" property="userFamilyId"/>
        <result column="operator_id" jdbcType="BIGINT" property="operatorId"/>
        <result column="user_instance_id" jdbcType="BIGINT" property="userInstanceId"/>
        <result column="member_id" jdbcType="BIGINT" property="memberId"/>
        <result column="relation" jdbcType="VARCHAR" property="relation"/>
        <result column="build_time" jdbcType="TIMESTAMP" property="buildTime"/>
        <result column="householder" jdbcType="TINYINT" property="householder"/>
        <result column="state" jdbcType="INTEGER" property="state"/>
        <result column="ver" jdbcType="INTEGER" property="ver"/>
        <result column="deleted" jdbcType="TINYINT" property="deleted"/>
        <result column="ts" jdbcType="TIMESTAMP" property="ts"/>
    </resultMap>
    <sql id="Base_Column_List">
        `user_family_id`, `operator_id`, `user_instance_id`, `member_id`, `relation`, `build_time`, `householder`,
        `state`, `ver`, `deleted`, `ts`
    </sql>

</mapper>